@import vars

body
    max-width: $max-width-site
    margin: 0 auto



.carousel-control-prev, .carousel-control-next
    height: 100px
    margin: auto 0 auto 0

.carousel-header
    position: absolute
    display: flex
    flex-flow: column
    text-align: center
    width: 40%
    top: 35%
    left: 30%
    color: white
header
    display: flex
    justify-content: center   
    .header
        position: absolute
        top: 3%
        display: flex
        justify-content: center
    
   
    color: white
    .logo
        display: flex
        

.navbar
.audio-test
    position: absolute
    top: 15%
    left: 15%
.video-test    
    position: absolute
    top: 70%
    left: 5%
    height: 150px
.video-test-2
    position: absolute
    display: flex
    flex-flow: column
    text-align: center
    width: 40%
    top: 35%
    left: 30%
    color: white
    

.nav-tabs
    border-color: transparent
    .active
        background-color: transparent !important
        color: #c7b299 !important
        border-color: transparent !important
    .nav-link
        border-color: transparent !important
    
.nav-item a
    color: #fff

    



      
 
    
